---
import Layout from "../layouts/Layout.astro";
import { Image } from 'astro:assets';
import aboutHeroImage from '../data/images/about-hero.avif';
---

<Layout>
  <section class="relative w-full">
    <Image
      src={aboutHeroImage}
      alt="Frankie Wallace About Banner"
      class="w-full h-80 md:h-[30rem] object-cover rounded-lg shadow mb-10"
    />
    <div
      class="absolute inset-0 bg-gradient-to-t from-white/80 to-transparent pointer-events-none rounded-lg"
    >
    </div>
  </section>

  <section class="max-w-3xl mx-auto px-4 py-10 text-center">
    <h1 class="text-4xl font-bold font-header text-gray-900 mb-4">
      The Full Story
    </h1>
    <p class="text-lg text-gray-700 font-body mb-6">
      My creative journey began in art therapy, where I started painting as a
      way to navigate postpartum depression. I became obsessed with watercolour
      and transitioned into surface pattern design. I specialise in creating
      whimsical, hand-drawn designs inspired by nature, childhood nostalgia, and
      soft, vintage aesthetics.
    </p>
    <p class="text-base text-gray-600 font-body mb-6">
      With a background in law and media, my shift to design has been a journey
      of self-discovery and connection. My work aims to bring warmth, joy, and a
      sense of wonder to those who experience it, and I love collaborating with
      like-minded brands to bring these creations into the world.
    </p>
    <p class="text-base text-gray-600 font-body">
      When I'm not sketching, you'll find me enjoying family time with my three
      kids or out in nature, seeking inspiration for my next collection.
    </p>
  </section>
</Layout>
