---
import Button from '../components/Button.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout>
  <div class="bg-gray-50 flex flex-col items-center justify-center min-h-[80vh] py-10">
    <h1 class="text-3xl font-semibold mb-6 font-header text-center">Let's Work Together!</h1>
    <form action="https://formspree.io/f/xblkkjzz" method="POST" class="space-y-6 max-w-xl w-full font-body bg-white p-8 rounded shadow-md">
      <div>
        <label for="name" class="block font-medium">Name <span class="text-red-500">*</span></label>
        <input type="text" name="name" id="name" required class="w-full border rounded px-3 py-2 mt-1" />
      </div>

      <div>
        <label for="email" class="block font-medium">Email <span class="text-red-500">*</span></label>
        <input type="email" name="email" id="email" required class="w-full border rounded px-3 py-2 mt-1" />
      </div>

      <div>
        <label for="service" class="block font-medium">Which Service</label>
        <select name="service" id="service" required class="w-full border rounded px-3 py-2 mt-1">
          <option value="">Select a service</option>
          <option>Custom Surface Pattern Design</option>
          <option>Childrens Book Illustration</option>
          <option>Other</option>
        </select>
      </div>

      <div>
        <label for="message" class="block font-medium">Message</label>
        <textarea name="message" id="message" rows="6" required class="w-full border rounded px-3 py-2 mt-1"></textarea>
      </div>

      <Button type="submit"class="px-6 py-2 w-full">
        Send
      </Button>

    </form>
  </div>
</Layout>