---
import Layout from "../layouts/Layout.astro";
import HeroSection from "../components/home/HeroSection.astro";
import SurfacePatternSection from "../components/home/SurfacePatternSection.astro";
import NewsletterSection from "../components/home/NewsletterSection.astro";
import AboutSection from "../components/home/AboutSection.astro";
import "../styles/global.css";
import type { GTagProp } from "../data/models/tagProp.model";

const newsLetterTag: GTagProp = {
  eventName: "newsletter_signup_completed",
  props: {
    event_category: "conversion",
    event_label: "Newsletter Home",
  },
};
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta
      name="description"
      content="Frankie Wallace is an illustrator and surface pattern designer who creates beautiful, whimsical patterns for children's clothing, books, and more."
    />
    <title>Frankie Wallace</title>
  </head>
  <body>
    <Layout>
      <HeroSection />
      <AboutSection />

      <SurfacePatternSection />
      <NewsletterSection tag={newsLetterTag} />
      <!-- <BookIllustrationSection /> -->
    </Layout>
  </body>
</html>
