---
import Layout from "../layouts/Layout.astro";
import HeroSection from "../components/home/HeroSection.astro";
import SurfacePatternSection from "../components/home/SurfacePatternSection.astro";
import NewsletterSection from "../components/home/NewsletterSection.astro";
import BookIllustrationSection from "../components/home/BookIllustrationSection.astro";
import AboutSection from "../components/home/AboutSection.astro";
import "../styles/global.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <Layout>
      <HeroSection />
      <SurfacePatternSection />
      <NewsletterSection />
      <BookIllustrationSection />
      <AboutSection />
    </Layout>
  </body>
</html>
