---
// HeroSection component for the main banner
import { Image } from "astro:assets";
import heroBgImage from "../../data/images/hero-bg.avif";
---

<section
  class="relative h-[90vh] bg-fixed bg-center bg-cover flex items-center justify-center text-center"
>
  <!-- Background Image -->
  <Image
    src={heroBgImage}
    alt="Hero background"
    class="absolute inset-0 w-full h-full object-cover"
    loading="eager"
  />

  <!-- Overlay -->
  <div class="absolute inset-0 bg-black/60 z-0"></div>
  <div
    class="relative z-10 px-6 py-10 max-w-4xl mx-auto flex flex-col items-center"
  >
    <h1 class="text-4xl font-bold text-white lg:text-6xl font-header">
      Nostalgic watercolour surface patterns that set your products apart.
    </h1>
    <p class="mt-4 text-lg text-white font-body">
      Helping you create timeless, story-rich products through hand-painted
      illustrations and thoughtfully crafted pattern collections.
    </p>

    <div class="flex gap-8">
      <a
        href="/gallery/surfacePattern"
        class="mt-8 inline-block bg-white text-black font-semibold px-6 py-3 rounded shadow hover:bg-gray-200 transition"
      >
        Explore Pattern Collections
      </a>

      <a
        href="/licensing"
        class="mt-8 inline-block bg-white text-black font-semibold px-6 py-3 rounded shadow hover:bg-gray-200 transition"
      >
        Enquire about Licensing
      </a>
    </div>

    <p class="mt-16 text-md text-white font-body italic">
      Hand-painted surface pattern design • Ready-to-print files • Non-exclusive & exclusive licensing
    </p>
  </div>
</section>
