---
// SurfacePatternSection component for the pattern design details
import { Image } from "astro:assets";
import pattern1Image from "../../data/images/pattern-1.avif";
import pattern2Image from "../../data/images/pattern-2.avif";
import Button from "../Button.astro";
---

<div class="bg-gray-50">
  <div
    class="mx-auto max-w-2xl px-4 py-24 sm:px-6 sm:py-32 lg:max-w-7xl lg:px-8"
  >
    <!-- Details section -->
    <section aria-labelledby="details-heading">
      <div class="flex flex-col items-center text-center">
        <h2
          id="details-heading"
          class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl font-header"
        >
          Surface Pattern Design
        </h2>
        <p class="mt-3 max-w-3xl text-lg text-gray-600 font-body">
          Soft, whimsical patterns, hand-drawn with watercolours and Adobe
          Fresco. Perfect for children's apparel and textiles.
        </p>
      </div>

      <div class="mt-16 grid grid-cols-1 gap-y-16 lg:grid-cols-2 lg:gap-x-8">
        <div>
          <Image
            src={pattern1Image}
            alt="Surface pattern design 1"
            class="aspect-3/2 w-full rounded-lg object-cover transition-transform duration-300 hover:scale-105"
          />
          <p class="mt-8 text-base text-gray-500">
            Want any of my patterns in a different colourway? Or to have a
            custom design made? I'd love to hear from you! Send me an email at
            frankie@frankiewallace.com.au.
          </p>
        </div>
        <div>
          <Image
            src={pattern2Image}
            alt="Surface pattern design 2"
            class="aspect-3/2 w-full rounded-lg object-cover transition-transform duration-300 hover:scale-105"
          />
          <p class="mt-8 text-base text-gray-500">
            Offering both custom pattern design and licensing options from her
            growing collection. Whether you're an art director, product
            designer, or small business owner, she'd love to help bring your
            vision to life.
          </p>
        </div>
      </div>

      <Button
        href="/pattern-library"
        class="mt-8 mx-auto block font-semibold px-6 py-3 rounded shadow hover:bg-gray-800 transition text-center w-max"
      >
        View Pattern Library
      </Button>
    </section>
  </div>
</div>
