---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import "../styles/global.css";
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Frankie Wallace</title>

    <script is:inline async src="https://www.googletagmanager.com/gtag/js?id=G-PJ04EFYQLD"
    ></script>
    <script is:inline>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }

      gtag("js", new Date());
      gtag("config", "G-PJ04EFYQLD");
    </script>
  </head>
  <body class="font-sans text-gray-900">
    <header id="site-header" class="transition-transform duration-300">
      <Header />
    </header>
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>
